<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.online_re.mapper.JobSearchMapper" >
  <resultMap id="BaseResultMap" type="com.example.online_re.domain.JobSearch" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="day" property="day" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="site" property="site" jdbcType="VARCHAR" />
    <result column="development" property="development" jdbcType="VARCHAR" />
    <result column="domanial" property="domanial" jdbcType="VARCHAR" />
    <result column="salaried" property="salaried" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, email, day, name, site, development, domanial, salaried
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from job_search
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from job_search
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.online_re.domain.JobSearch" >
    insert into job_search (id, email, day, 
      name, site, development, 
      domanial, salaried)
    values (#{id,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{day,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{site,jdbcType=VARCHAR}, #{development,jdbcType=VARCHAR}, 
      #{domanial,jdbcType=VARCHAR}, #{salaried,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.online_re.domain.JobSearch" >
    insert into job_search
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="site != null" >
        site,
      </if>
      <if test="development != null" >
        development,
      </if>
      <if test="domanial != null" >
        domanial,
      </if>
      <if test="salaried != null" >
        salaried,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        #{day,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="site != null" >
        #{site,jdbcType=VARCHAR},
      </if>
      <if test="development != null" >
        #{development,jdbcType=VARCHAR},
      </if>
      <if test="domanial != null" >
        #{domanial,jdbcType=VARCHAR},
      </if>
      <if test="salaried != null" >
        #{salaried,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.online_re.domain.JobSearch" >
    update job_search
    <set >
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="site != null" >
        site = #{site,jdbcType=VARCHAR},
      </if>
      <if test="development != null" >
        development = #{development,jdbcType=VARCHAR},
      </if>
      <if test="domanial != null" >
        domanial = #{domanial,jdbcType=VARCHAR},
      </if>
      <if test="salaried != null" >
        salaried = #{salaried,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.online_re.domain.JobSearch" >
    update job_search
    set email = #{email,jdbcType=VARCHAR},
      day = #{day,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      site = #{site,jdbcType=VARCHAR},
      development = #{development,jdbcType=VARCHAR},
      domanial = #{domanial,jdbcType=VARCHAR},
      salaried = #{salaried,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>